
#mapid {
    height: calc(300px + 10vw);
    width: 100%;
}

.przycisk {
    font-size: 150%;
}

.przycisk2 {
    font-size: 120%;
}

.blad {
    font-size: 180%;
    color: red;
    font-weight: 700;
}

#poleTekstowe2
{
    white-space:pre-wrap;
}