.tekst {
    font-size: 130%;
}

.odstep {
    margin-top: calc(5px + 1vw);
}

.odstep2 {
    margin-top: calc(5px + .5vw);
}

.odstep3 {
    margin-top: calc(20px + 2vw);
}

.odstep4 {
    margin-top: calc(20px + 0.5vw);
}

.odstep5 {
    margin-top: calc(60px + 0.5vw);
}

.naglowek {
    font-size: 200%;
}

.my_checkbox {
    width: 20px;
    height: 20px;
}

.przycisk {
    font-size: 150%;
}